#galeria img{
    width: 300px;
    height: 250px;
    padding: 1px;
}

#galeria img:hover{
    border: 2px solid rgb(143, 73, 255);
}

.navcolor{
    background-color: rgb(121, 72, 0);
}

.footercolor{
    background-color: rgba(146, 0, 44, 0.932);
}

.error{
    color: red;
}

.carrusel-top{
    margin-top: 80px;
}

.tituloTARJETA{
    color: rgb(112, 0, 0);
}

.tituloTARJETA:hover{
    color:rgb(209, 97, 68);
}

.estilo-modal{
   background-color:  rgba(156, 95, 255, 0.521);
}

.texto-modal{
    color: white;
    text-shadow: 0.5px 0 0 #000, -1px 0 0 #000, 0 0.5px 0 #000, 0 -0.5px 0 #000, 0.5pxpx 0.5pxpx #000, -0.5px -0.5px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.color-galeria{
    background-color:rgba(61, 43, 6, 0.952);
}

.color-barranav{
    background-color: rgba(146, 0, 44, 0.932);
}

.color-modal-footer{
    background-color:   rgba(146, 0, 44, 0.932); 
    color: whitesmoke;
}

.transparente-modal{
    background-color: transparent;
    border: 0px;
}